body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.heading{
    display: block;
    background-color: rgb(255, 254, 254);
    color: rgb(12, 12, 12);
    text-align: center;
    margin: 0;
    font-size: 20px;
    padding: 20px;
    font-family:cursive;
}
#top-head{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 10px;
    padding: 1px;
    box-sizing: border-box;
}
.nav{
    display: block;
    background-color: rgb(255, 254, 254);
    color: rgb(12, 12, 12);
    text-align: center;
    margin: 0;
    font-size: 10px;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.nav ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin: 0;

}
.nav li {
    list-style: none;
}
.logo img{
    width: 200px;
    height: auto;
    margin: 5%;
}
/* Hero Section carousal effect */

.carousel {
  position: relative;
  margin: auto;
  overflow: hidden;
  aspect-ratio: 16 / 6;
}
.carousel-item {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  z-index: 0;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.carousel {
  background: #eee;
}
/* Arrows */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  background: rgba(0, 0, 0, 0);
  color: rgb(66, 66, 66);
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover {
  transform: translateY(-50%) translateX(-5px);
  color: #000; 
}
.next:hover {
  transform: translateY(-50%) translateX(5px);
  color: #000;
}
.prev:active, .next:active {
  transform: translateY(-50%) scale(0.9);
}
.quick-filters {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 30px;
  scroll-behavior: smooth;
}

.quick-filters::-webkit-scrollbar {
  display: none;
}

.filter-item {
  min-width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.filter-item:hover img {
  transform: scale(1.2);
}
.shop-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 15px;
  padding: 20px;
}

/* each card */
.card {
  background: #f5f5f5;
}

.image-link img {
  width: 100%;
  height: auto;
  display: block;
}
.shop-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: #f5f5f5;
}

/* IMAGE */
.image-link img {
  width: 100%;
  overflow: hidden;
  display: block;
  transition: transform 0.3s ease;
}
/* LABEL */
.label {
  background: #eaeaea;
  text-align: center;
  padding: 12px 0;
  transition: background 0.3s ease;
}

.label a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: block;
  transition: color 0.3s ease;
}

.label:hover {
  background: #3a3a3a;
  transition: all 0.6s ease;
}

.label:hover a {
  color: #fff;
}
.footer {
  background: #f5f5f5;
  padding: 50px 20px 20px;
  font-family: Arial;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer p, .footer li {
  color: #878787;
  font-size: 14px;
  margin-bottom: 8px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

/* Newsletter */
.newsletter-box {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 10px;
}

.newsletter-box input {
  border: none;
  padding: 10px 15px;
  flex: 1;
  outline: none;
}

.newsletter-box button {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Socials */
.socials span {
  margin-right: 10px;
  color: #878787;
  cursor: pointer;
}

/* Payments */
.payments img {
  height: 25px;
  margin-right: 5px;
  margin-top: 10px;
}

/* Copyright */
.copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #878787;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}